/* ie hack
don't remove that style*/
.m-page {
  display: block; }

.container-fluid {
  min-width: 320px;
  max-width: 1920px; }

.container-fluid:before, .container-fluid:after,
.clearfix:before,
.clearfix:after {
  content: '';
  display: table; }

.container-fluid:after,
.clearfix:after {
  clear: both; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  overflow: hidden;
  min-width: 320px;
  max-width: 100%;
  margin: 0 auto; }

html {
  font-size: 16px;
  margin-top: 0 !important; }

body {
  font-family: "nova", sans-serif;
  font-size: 16px;
  color: #111;
  margin: 0; }
  body a {
    text-decoration: none;
    color: #ccc;
    outline: none; }
    body a:hover {
      text-decoration: none;
      color: #ffaf36;
      transition: color 0.5s linear;
      outline: none; }
    body a:active {
      text-decoration: none; }
    body a:focus {
      text-decoration: none; }

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0; }

.title-centered {
  text-align: center; }

li.current_page_item a {
  color: #ffaf36; }

.site-header {
  position: relative;
  padding-bottom: 280px;
  hight: 100%;
  background: url(../img/blog.jpg) center no-repeat; }
  .site-header .site-branding {
    display: inline-block; }
  .site-header h1, .site-header p {
    display: inline-block;
    margin: 26px  10px 30px;
    float: left;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase; }
    .site-header h1 a, .site-header p a {
      color: white; }
  .site-header .hamburger, .site-header .cross {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding: 0 25px;
    color: #f1f1f1;
    z-index: 99999;
    background: none;
    border: none;
    outline: none;
    font-weight: bold; }
  .site-header .hamburger {
    line-height: 45px;
    font-size: 1.5rem; }
  .site-header .cross {
    font-size: 3rem;
    height: 45px; }
  .site-header .top-nav {
    margin-top: 24px;
    display: inline-block;
    width: 70%;
    right: 0;
    float: right; }
    .site-header .top-nav .menu-menu-1-container {
      width: 100%;
      display: inline-block;
      float: right !important; }
      .site-header .top-nav .menu-menu-1-container li {
        width: 13%;
        text-align: center; }
      .site-header .top-nav .menu-menu-1-container a {
        display: block;
        padding: 10px 0 10px 0;
        width: 100%;
        height: 100%;
        margin: 0 !important;
        font-family: OpenSans,sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        color: white;
        font-weight: 600; }
        .site-header .top-nav .menu-menu-1-container a i:hover {
          color: #ffaf36;
          font-weight: 700; }
        .site-header .top-nav .menu-menu-1-container a:hover {
          color: #ffaf36; }

.site-footer {
  background-color: #2a2b2c;
  color: #555;
  border-top: 1px solid grey;
  text-transform: uppercase;
  color: #7b7b7c;
  font-family: OpenSans, sans-serif;
  font-size: 13px;
  font-weight: 600; }
  .site-footer .menu li:before {
    float: left;
    padding-top: 10px;
    display: inline-block;
    color: #ffaf36;
    font-size: 10px;
    content: '\f0da';
    font-family: FontAwesome, sans-serif; }
  .site-footer .main-navigation {
    clear: none !important; }
  .site-footer p.site-title {
    margin-top: 120px;
    text-align: center; }
    .site-footer p.site-title a {
      color: #7b7b7c;
      font-size: 20px; }
  .site-footer .formbot {
    margin-top: 100px; }
    .site-footer .formbot p {
      width: 49%; }
      .site-footer .formbot p input {
        overflow: hidden;
        width: 103%;
        border: 1px solid #373839;
        border-radius: 0;
        background-color: #2a2b2c; }
      .site-footer .formbot p textarea {
        width: 205%;
        border: 1px solid #373839;
        height: 100px;
        border-radius: 0;
        background-color: #2a2b2c; }
    .site-footer .formbot p:last-child {
      display: block; }
  .site-footer .bottom-nav {
    margin-top: 100px;
    display: inline-block; }
    .site-footer .bottom-nav li {
      font-size: 14px;
      display: block;
      float: none; }
      .site-footer .bottom-nav li a {
        width: 50%;
        text-align: left;
        padding: 10px 10px;
        text-transform: uppercase;
        color: #7b7b7c;
        font-family: OpenSans, sans-serif;
        font-size: 13px;
        font-weight: 600;
        border-bottom: 1px solid #373839; }
  .site-footer .social-icon {
    padding: 10px; }
  .site-footer .logobot {
    text-align: center; }

.blog li {
  margin: 20px auto 130px;
  width: 80%; }
  .blog li .more {
    float: right;
    padding: 10px 20px;
    margin-top: 50px;
    border: 2px solid #ffaf36; }
    .blog li .more a {
      color: #ffaf36; }
  .blog li img {
    margin-bottom: 30px; }
  .blog li h3 a {
    color: #1c1c1c;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase; }
  .blog li .social-icons {
    margin-top: 40px;
    text-align: center; }
    .blog li .social-icons span {
      margin-top: 10px;
      float: left;
      color: #585858;
      font-family: OpenSans;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase; }
    .blog li .social-icons li {
      margin: 4px;
      width: 15%;
      display: inline-block; }
      .blog li .social-icons li:not(:first-child) {
        margin-left: 10px; }
      .blog li .social-icons li a {
        display: block;
        border-radius: 50%;
        color: white;
        background-color: black;
        width: 34px;
        height: 34px;
        position: relative; }
        .blog li .social-icons li a:before {
          font-size: 0.9rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
        .blog li .social-icons li a:hover:before {
          color: #00e500; }

.navigation {
  margin: 140px auto 100px;
  text-align: center; }
  .navigation a, .navigation span {
    margin: 0 4px;
    padding: 12px;
    border: 2px solid #2a2b2c;
    color: #2a2b2c;
    font-family: OpenSans;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase; }
  .navigation span {
    border: 2px solid #ffaf36;
    color: #ffaf36; }

.autor {
  color: #757575;
  font-family: ProximaNova,sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 10px 0 30px;
  display: block; }

.entry-title {
  color: #1c1c1c;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase; }

.about-us {
  margin: 100px auto; }
  .about-us h2 {
    color: #1c1c1c;
    font-family: Raleway,sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase; }
  .about-us input[type="submit"] {
    float: left;
    background-color: white; }
    .about-us input[type="submit"]:hover {
      background-color: #65c5f3; }
  .about-us p {
    color: #585858;
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left; }

.services {
  background-color: #eaeff3;
  padding: 100px 0; }
  .services h2 {
    color: #1c1c1c;
    font-family: Raleway,sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase; }
  .services h3 {
    text-transform: uppercase;
    color: #1c1c1c;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase; }
  .services p {
    color: #585858;
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    font-weight: 400; }
  .services input[type="submit"] {
    margin-top: 60px;
    float: left;
    background-color: #eaeff3; }
    .services input[type="submit"]:hover {
      background-color: #65c5f3; }
  .services img {
    margin-top: 20px; }

ul.blog li {
  position: relative; }
  ul.blog li .ava {
    left: -84px;
    top: 2px;
    position: absolute; }
    ul.blog li .ava img {
      width: 60px;
      border-radius: 50%; }
  ul.blog li .fa-facebook {
    background-color: blue !important; }
  ul.blog li .fa-twitter {
    background-color: #65c5f3 !important; }
  ul.blog li .fa-google-plus {
    background-color: red !important; }

@media screen and (min-width: 992px) {
  .main-navigation {
    margin-top: 2px;
    float: left; }
    .main-navigation .cross {
      display: none; }
    .main-navigation .hamburger {
      display: none; }
    .main-navigation .menu-menu-1-container {
      position: static;
      background: transparent; }
      .main-navigation .menu-menu-1-container ul {
        display: block !important;
        text-align: right; }
        .main-navigation .menu-menu-1-container ul:before, .main-navigation .menu-menu-1-container ul:after {
          content: '';
          display: table; }
        .main-navigation .menu-menu-1-container ul:after {
          clear: both; }
        .main-navigation .menu-menu-1-container ul li {
          display: inline-block;
          border-bottom: none;
          background-color: transparent; }
          .main-navigation .menu-menu-1-container ul li a {
            padding: 30px 20px; }
          .main-navigation .menu-menu-1-container ul li:hover {
            background-color: transparent; } }

@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-section .preview-work:nth-child(even) {
    clear: both; }
  .botoom-nav {
    text-align: center; }
  .copyright {
    display: block; } }

@media screen and (min-width: 480px) and (max-width: 767px) {
  .m-page .top-title h2 {
    font-size: 2.25rem; }
  .m-page .page-desc-title p {
    padding: 10px 50px; }
  .m-page .get-account p {
    padding: 0 50px; } }

.social-icon, .copyright, .bottom-nav {
  text-align: center; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .m-page .page-desc-title p {
    padding: 10px 80px; }
  .m-page .main-section .preview-work:nth-child(2n+1) {
    clear: both; }
  .site-footer .bottom-nav, .site-footer .social-icon, .site-footer .copyrite {
    display: block; } }

@media screen and (min-width: 992px) {
  .site-header h1 {
    margin: 31px 0; }
  .site-header .crafty-social-buttons {
    margin: 40px 0; }
  .site-header .hamburger {
    display: none !important; }
  .site-header .top-nav .menu-primary-menu-container {
    width: 55%;
    position: static;
    background: transparent; }
    .site-header .top-nav .menu-primary-menu-container ul {
      display: block !important;
      float: right; }
      .site-header .top-nav .menu-primary-menu-container ul:before, .site-header .top-nav .menu-primary-menu-container ul:after {
        content: '';
        display: table; }
      .site-header .top-nav .menu-primary-menu-container ul:after {
        clear: both; }
      .site-header .top-nav .menu-primary-menu-container ul li {
        float: left;
        border-bottom: none; }
        .site-header .top-nav .menu-primary-menu-container ul li a {
          padding: 35px 10px; }
        .site-header .top-nav .menu-primary-menu-container ul li:hover {
          background-color: transparent; }
  .bottom-nav {
    text-align: left; } }

.button {
  display: inline-block;
  background-color: black;
  padding: 15px 20px;
  color: white;
  font-family: Novecentowide, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem; }
  .button:hover {
    color: #00A8EF; }

input[type="submit"] {
  display: inline-block;
  text-transform: uppercase;
  background-color: #828282;
  padding: 10px 15px;
  width: 151px;
  height: 51px;
  border: 2px solid #ffaf36 !important;
  margin-left: 5px;
  box-shadow: none;
  color: #ffaf36;
  font-family: Raleway,sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase; }
  input[type="submit"]:hover {
    box-shadow: none;
    background-color: #65c5f3; }

.social-icon {
  text-align: center; }
  .social-icon li {
    display: inline-block; }
    .social-icon li:not(:first-child) {
      margin-left: 4px; }
    .social-icon li a {
      display: block;
      border-radius: 0;
      background-color: #2a2b2c;
      border: 1px solid #373839;
      width: 30px;
      height: 30px;
      position: relative; }
      .social-icon li a:before {
        color: #8a8a8a;
        font-size: 15px;
        font-weight: 400;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }

.comments-area {
  padding: 20px 0 50px; }
  @media screen and (min-width: 992px) {
    .comments-area {
      padding: 30px 0 100px; } }
  .comments-area .comments-title {
    font-weight: 400;
    font-size: 2rem; }
  .comments-area > ol {
    padding: 0;
    list-style-type: none; }
  .comments-area ol.children {
    list-style-type: none; }
  .comments-area .comment-list .comment-body {
    padding-top: 50px; }
  .comments-area .comment-list .comment-meta {
    margin-bottom: 20px; }
    .comments-area .comment-list .comment-meta .comment-author .avatar {
      width: 70px;
      float: left;
      margin-right: 20px;
      border-radius: 50%; }
    .comments-area .comment-list .comment-meta .comment-author.vcard {
      padding: 15px 0; }
      .comments-area .comment-list .comment-meta .comment-author.vcard .fn {
        font-size: 1.5rem;
        font-weight: 600; }
    .comments-area .comment-list .comment-meta time {
      color: #555;
      font-size: 14px;
      font-weight: 600; }
  .comments-area .comment-list ol {
    margin-left: 90px; }
  .comments-area .comment-content {
    clear: left;
    margin-left: 90px; }
  .comments-area .reply {
    margin-left: 90px;
    font-weight: 600; }
    .comments-area .reply a {
      color: #555; }
      .comments-area .reply a:before {
        content: '\f112';
        font-family: FontAwesome, sans-serif;
        padding-right: 5px;
        font-size: 80%; }
  @media screen and (max-width: 767px) {
    .comments-area .comment-list ol {
      margin-left: 0; }
    .comments-area .comment-content {
      margin-left: 1.5em; }
    .comments-area .comment-content,
    .comments-area .reply {
      margin-left: 0; } }

.comment-respond label {
  font-weight: 600;
  display: block; }

.comment-respond .comment-reply-title {
  font-size: 2.125rem;
  font-family: 'nexa_boldregular',sans-serif;
  font-weight: 400;
  margin: 40px 0 30px; }

@media screen and (max-width: 767px) {
  .comment-respond {
    margin: 70px 0 50px; } }

.comment-respond .comment-form input, .comment-respond .comment-form textarea {
  border: 1px solid #ccc;
  border-radius: 2px; }

.comment-respond .comment-form .form-submit input[type="submit"] {
  outline: none;
  text-transform: uppercase;
  background-color: #575659;
  color: white;
  padding: 7px 10px;
  border-radius: 10px; }
  .comment-respond .comment-form .form-submit input[type="submit"]:hover {
    background-color: #00e500; }
