.blog {
  li {

    .more{
      a{
        color: #ffaf36;
      }
      float: right;
      padding: 10px 20px;
      margin-top: 50px;
      border: 2px solid #ffaf36;
    }
    img{
      margin-bottom: 30px;
    }

    h3{
a {
  color: #1c1c1c;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
    }
    margin: 20px auto 130px;
    width: 80%;
    .social-icons {
      margin-top: 40px;
      span{
        margin-top: 10px;
        float: left;
        color: #585858;
        font-family: OpenSans;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
      }
      text-align: center;
      li {
        margin: 4px;
        width: 15%;
        display: inline-block;
        &:not(:first-child) {
          margin-left: 10px;
        }
        a {

          display: block;
          border-radius: 50%;
          color: white;
          background-color: black;
          width: 34px;
          height: 34px;
          position: relative;
          &:before {
            font-size: (18/20)*1rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          &:hover {
            &:before {
              color: $link_hover-color;
            }
          }
        }
      }
    }
  }
}
.navigation{
  margin: 140px auto 100px;
  text-align: center;
a,span{
  margin: 0 4px;
  padding:12px;
  border: 2px solid #2a2b2c;
  color: #2a2b2c;
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
  span{
    border: 2px solid #ffaf36;
    color: #ffaf36;
  }
}
.autor{
  color: #757575;
  font-family: ProximaNova,sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  margin:10px 0 30px;
  display: block;
}
.entry-title{
  color: #1c1c1c;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.about-us{
  h2{
    color: #1c1c1c;
    font-family: Raleway,sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
  }
  margin: 100px auto;
  input[type="submit"] {
    float: left;
    background-color: white;
    &:hover{
      background-color: #65c5f3;

    }
  }
  p{
    color: #585858;
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
  }

}
.services{
  background-color: #eaeff3;
  padding: 100px 0;
  h2{
    color: #1c1c1c;
    font-family: Raleway,sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
  }
  h3{
    text-transform: uppercase;
    color: #1c1c1c;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
  p{
    color: #585858;
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  input[type="submit"] {
    margin-top: 60px;
    float: left;
    background-color: #eaeff3;
    &:hover{
      background-color: #65c5f3;

    }
  }
  img{
    margin-top: 20px;
  }
}
ul.blog{
  li {
    position: relative;
     .ava {
        left: -84px;
        top: 2px;

        position: absolute;
       img{
         width: 60px;
         border-radius: 50%;
       }
      }
    .fa-facebook{
      background-color: blue!important;
    }
    .fa-twitter{
      background-color: #65c5f3!important;
    }
    .fa-google-plus{
      background-color: red!important;
    }
  }
}